.title {
    color: blue;
    text-align: center;
}

.recipe-container {
    display: flex;
    flex-direction: column;
}

.recipe {
    flex: 1;
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 16px;
    border-radius: 10px;
}